<!-- Services Section -->
    <section id="about_us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted"><font size="6">Our goal at NU Public Speaking Club (NUPS) is to empower members to become more effective communicators and leaders. We do this by providing a supportive and positive environment where each member can grow and become more confident in public speaking while developing leadership skills. At our weekly meetings, members take on various roles to give prepared and/or impromptu speeches, provide feedback to other speakers, and facilitate these meetings. We look forward to seeing you at our next meeting!</font></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><font size="5">Practice Your Speech</font></h4>
                    <p class="text-muted"><font size="5">Weekly prepared speech, impromptu speech and more.</font></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><font size="5">Peer Evaluation</font></h4>
                    <p class="text-muted"><font size="5">Our second mission is to build a community.</font></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><font size="5">Various Roles</font></h4>
                    <p class="text-muted"><font size="5">We don't the third mission yet, but we will have one in the future.</font></p>
                </div>
            </div>
        </div>
    </section>