<!-- Services Section -->
    <section id="about_us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <p class="text-muted" style="text-align:justify"><font size="5">Our goal at NU Public Speaking Club is to empower its members to become effective communicators and leaders. We do this by fostering a supportive and positive community, where each member can grow confidence in public speaking while developing leadership skills. Since 2014, our club enabled numerous students to overcome their fear of public speaking and become excellent speakers, all the while forming strong friendships.</font></p>
                    <br>
                    <p class="text-muted" style="text-align:justify"><font size="5">Everyone is welcome to attend our weekly meeting. We hope you will be part of NUPS community!</font></p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row text-center">
                <h2 class="section-heading">What We Do</h2>
                <br>
                <div class="col-md-4">
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <img src="img/weekly_meeting.jpg" alt="Smiley face" height="256" width="256">
                    <h4 class="service-heading"><font size="5">Weekly Meeting</font></h4>
                    <p class="text-muted" style="text-align:justify"><font size="4">We meet every week to practice public speaking. At our weekly meetings, you will have chances to practice giving prepared speeches, as well as short impromptu speeches. We give peer feedback to help identify each other’s strong points as well as weak points to improve communication skills. At every meeting, we take on various roles to gain experience in facilitating the meetings.</font></p>
                </div>
                <div class="col-md-4">
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <img src="img/workshop.png" alt="Smiley face" height="256" width="256">
                    <h4 class="service-heading"><font size="5">Workshop / Guest Speeches</font></h4>
                    <p class="text-muted" style="text-align:justify"><font size="4">We organize workshop and guest lecture events. During workshop events, you will be able learn essential skills in public speaking from communications experts. From guest lectures, you’ll be able to gain valuable lessons from experienced public speakers that spans across diverse areas of work.</font></p>
                </div>
                <div class="col-md-4">
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <img src="img/social.jpg" alt="Smiley face" height="256" width="256">
                    <h4 class="service-heading"><font size="5">Friendly Community</font></h4>
                    <p class="text-muted" style="text-align:justify"><font size="4">At NUPS, we foster a friendly and supportive community to help each other grow. You will get to make friends from diverse academic and familial backgrounds. You will get to network with young and experienced professionals. All the while, you’ll have fun at our social events.</font></p>
                </div>
            </div>
        </div>
    </section>